@{
    ViewBag.Title = "Calendar Upload";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Excel Calendar</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>