@{
    ViewBag.Title = "Admin Home";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


@Html.ActionLink("Start Kiosk Session", "Launch", null, new { @class = "btn btn-success" })
@Html.ActionLink("Class Data Report", "ViewClassReport", null, new { @class = "btn btn-success" })

<img src="~/Content/images/Admin Interface.png" width="960" height="540" />