@{
    ViewBag.Title = "Achievements";
}

<h2 class="text-center">@ViewBag.Title</h2>



    <div class="container-fluid">
        <div class="row badge-row-color">
            <div class="col-md-4 ">
                <h2 class="badge-header-bold text-center">Level</h2>
                <div class="panel panel-default">
                    <div class="panel-body badge-panel-padding-alt">
                        <div class="container text-center">
                            <div class="row badge-panel-row-padding">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/AchieveLevel3.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/AchieveLevel3.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                            <div class="row badge-panel-row-padding">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/AchieveLevel3.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/AchieveLevel3.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/AchieveLevel3.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/AchieveLevel3.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="badge-header-bold text-center">Cumulative</h2>
                <div class="panel panel-default badge-panel-padding">
                    <div class="panel-body">
                        <div class="container text-center">
                            <div class="row badge-panel-row-padding">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve2day.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve2day.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                            <div class="row badge-panel-row-padding">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve2day.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve2day.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve2day.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve2day.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="badge-header-bold text-center">XP</h2>
                <div class="panel panel-default badge-panel-padding">
                    <div class="panel-body">
                        <div class="container text-center">
                            <div class="row badge-panel-row-padding">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve5day.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve5day.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                            <div class="row badge-panel-row-padding">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve5day.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve5day.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve5day.png" class="badge-small" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img src="~/Content/images/Achieve5day.png" class="badge-small" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>





