@{
    ViewBag.Title = "Achievements";
}

<h2>@ViewBag.Title</h2>


    <div class="container-fluid">
        <div class="row badge-row-color">
            <div class="col-md-4 ">
                <div class="panel panel-default">
                    <h3 class="panel-title">Category 1</h3>

                    <div class="panel-body">
                        <div>
                            <img src="~/Content/images/AchieveLevel3.png" class="badge-small" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <h3 class="panel-title">Category 2</h3>

                    <div class="panel-body">
                        <div>
                            <img src="~/Content/images/Achieve2day.png" class="badge-small" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <h3 class="panel-title">Category 3</h3>

                    <div class="panel-body">
                        <div>
                            <img src="~/Content/images/Achieve5day.png" class="badge-small" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<img src="~/Content/images/AllAchievements.png" width="960" height="540" />

