

<div class="container student-report-container">
    <div class="row">
        <div class="col-sm-2"id="student-report-btn-back">
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary btn-sm"})
        </div>
        <div class="col-md-8">
            <h1 class="text-center student-report-font-h1">All Achievements</h1>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="container badge-panel-container text-center">
        <span class="report-header-white text-center">Levels</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/level_1_resized.png" class="badge-medium">
                    <div class="caption bold-caption">Level 1</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/level_2_resized.png" class="badge-medium">
                    <div class="caption bold-caption">Level 2</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/level_3_resized.png" class="badge-medium">
                    <div class="caption bold-caption">Level 3</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/level_4_resized.png" class="badge-medium">
                    <div class="caption bold-caption">Level 4</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/level_5_resized.png" class="badge-medium">
                    <div class="caption bold-caption">Level 5</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/level_6_resized.png" class="badge-medium">
                    <div class="caption bold-caption">Level 6</div>
                </div>
            </div>
        </div>
        <span class="report-header-white text-center">Hours</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/25_hours_resized.png" class="badge-medium">
                    <div class="caption bold-caption">25 Hours</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/50_hours_resized.png" class="badge-medium">
                    <div class="caption bold-caption">50 Hours</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/100_hours_resized.png" class="badge-medium">
                    <div class="caption bold-caption">100 Hours!</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/200_hours_resized.png" class="badge-medium">
                    <div class="caption bold-caption">200 Hours</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/350_hours_resized.png" class="badge-medium">
                    <div class="caption bold-caption">350 Hours</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/500_hours_resized.png" class="badge-medium">
                    <div class="caption bold-caption">500 Hours</div>
                </div>
            </div>
        </div>
        <span class="report-header-white text-center">Streaks</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/2_day_streak_resized.png" class="badge-medium">
                    <div class="caption bold-caption">2 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/3_day_streak_resized.png" class="badge-medium">
                    <div class="caption bold-caption">3 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/5_day_streak_resized.png" class="badge-medium">
                    <div class="caption bold-caption">5 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/7_day_streak_resized.png" class="badge-medium">
                    <div class="caption bold-caption">7 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/10_day_streak_resized.png" class="badge-medium">
                    <div class="caption bold-caption">10 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/14_day_streak_resized.png" class="badge-medium">
                    <div class="caption bold-caption">14 Day Streak</div>
                </div>
            </div>
        </div>
        <span class="report-header-white text-center">Bonus</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
        </div>
    </div>
</div>
