

<div class="container student-report-container">
    <div class="row">
        <div class="col-sm-2"id="student-report-btn-back">
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary btn-sm"})
        </div>
        <div class="col-md-8">
            <h1 class="text-center student-report-font-h1">All Achievements</h1>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="container badge-panel-container text-center">
        <span class="report-header-white text-center">Levels</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_lvl1.png" class="badge-medium">
                    <div class="caption bold-caption">Level 1</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_lvl2.png" class="badge-medium">
                    <div class="caption bold-caption">Level 2</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_lvl3.png" class="badge-medium">
                    <div class="caption bold-caption">Level 3</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_lvl4.png" class="badge-medium">
                    <div class="caption bold-caption">Level 4</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_lvl5.png" class="badge-medium">
                    <div class="caption bold-caption">Level 5</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_lvl6.png" class="badge-medium">
                    <div class="caption bold-caption">Level 6</div>
                </div>
            </div>
        </div>
        <span class="report-header-white text-center">Hours</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_25hrs.png" class="badge-medium">
                    <div class="caption bold-caption">25 Hours</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_50hrs.png" class="badge-medium">
                    <div class="caption bold-caption">50 Hours</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_100hrs.png" class="badge-medium">
                    <div class="caption bold-caption">100 Hours!</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_200hrs.png" class="badge-medium">
                    <div class="caption bold-caption">200 Hours</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_350hrs.png" class="badge-medium">
                    <div class="caption bold-caption">350 Hours</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_500hrs.png" class="badge-medium">
                    <div class="caption bold-caption">500 Hours</div>
                </div>
            </div>
        </div>
        <span class="report-header-white text-center">Streaks</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_2daystreak.png" class="badge-medium">
                    <div class="caption bold-caption">2 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded">
                    <img src="~/Content/images/no-title_3daystreak.png" class="badge-medium">
                    <div class="caption bold-caption">3 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_5daystreak.png" class="badge-medium">
                    <div class="caption bold-caption">5 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_7daystreak.png" class="badge-medium">
                    <div class="caption bold-caption">7 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_10daystreak.png" class="badge-medium">
                    <div class="caption bold-caption">10 Day Streak</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/no-title_14daystreak.png" class="badge-medium">
                    <div class="caption bold-caption">14 Day Streak</div>
                </div>
            </div>
        </div>
        <span class="report-header-white text-center">Bonus</span>
        <div class="row">
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="badge-white-bg-rounded badge-locked">
                    <img src="~/Content/images/locked_resized.png" class="badge-medium">
                    <div class="caption bold-caption">????</div>
                </div>
            </div>
        </div>
    </div>
</div>
