@{
    ViewBag.Title = "Achievements";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Placeholder for content</p>
<img src="~/Content/images/All Achievements.png" width="960" height="540" />

