@{
    ViewBag.Title = "Student Attendance History: Jim Jimmerson";
}


<h2 style="text-align:center">@ViewBag.Title</h2>

<!-- Sample implementation for a "better" back button. It doesn't hardcode the previous controller. -->
@Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-success" })

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Week</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>This Week</td>
                <td style="color:red;">&#10008</td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td></td>
            </tr>
            <tr>
                <td>Week 3</td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td style="color:red;">&#10008</td>
                <td style="color:green;">&#10004</td>
                <td style="color:orange;">!</td>
                <td></td>
            </tr>
            <tr>
                <td>Week 2</td>
                <td style="color:red;">&#10008</td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td></td>
            </tr>
            <tr>
                <td>Week 1</td>
                <td style="color:green;">&#10004</td>
                <td style="color:red;">&#10008</td>
                <td style="color:green;">&#10004</td>
                <td style="color:orange;">!</td>
                <td style="color:green;">&#10004</td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>
<div id="chartContainer">
    <script>
        var a = 8;
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                    text: "Simple Column Chart in ASP.NET MVC"
                },
                subtitles: [
                    { text: "Try Resizing the Browser" }
                ],
                data: [
                    {
                        type: "spline", //change type to bar, line, area, pie, etc
                        dataPoints: [
                            { x: 10, y: 71 },
                            { x: 20, y: 55 },
                            { x: 30, y: 50 },
                            { x: 40, y: 65 },
                            { x: 50, y: 95 },
                            { x: 60, y: 68 },
                            { x: 70, y: 28 },
                            { x: 80, y: 34 },
                            { x: 90, y: 14 }
                        ]
                    }
                ]
            });
            chart.render();
        };
    </script>
</div>