body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #e2e2e2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set all non-header text site-wide to this */
* {
    font-size: 100%;
    font-family: "Tw Cen MT";
}

/* Set all headers site-wide to this */
h1, h2, h3, h4, h5, h6 

{
    font-family: "Tw Cen MT";
}

.studentheader2 {
    text-align: center;
}

.studentheader3 {
    text-align: center;
    font-size: 24px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none
}

.attendTable { 
    text-align: center;
}

.attendTableCell {
    text-align: center;
}
.nopadding {
    padding: 1px;
    padding-bottom: 5px
}
.attendTableHeader{
    background-color: #435AAF;
    color: white
}
.darkBlue {
    color: darkblue
}

.reportColMd2 {
    text-align: center
}

#lgn-form-container .col-md-12 .full-width {
    width: 50%;
    margin: auto;
    display: block;
}

#lgn-form-container input {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#lgn-form-container {
    width: 40%;
    display: block;
    margin: auto;
    background: #4BA9EF;
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 300px;
    margin-top: 40px;
}
#lgn-form-container #form-title {
    text-align: center;
    color: white;
    font-size: 26px;
}

#lgn-form-container #login-btn {
    text-align: center;
    background:#435AAF;
    color: white;
    border: none;
}

#login-page {
    background: #e2e2e2;
}

.navbar-inverse, navbar{
    background-color: #4ba9ef;
    border-color: #4ba9ef;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-nav>li {
    float: left;
    margin: 15px;
    background: #435AAF;
    border-radius: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding: 5px 20px;
}

.navbar .navbar-brand {
    font-size: 26px;
}

.navbar .navbar-nav {
    margin-left: -115px;
}

.submit-with-icon {
    background: transparent;
    color: steelblue;
    border: 0px;
    padding: 0;
    outline: 0;
}

.attendify-panel {
    display: block;
    margin: auto;
    background: #4BA9EF;
    border-radius: 10px;
    margin-top: 40px;
}

.attendify-panel-title {
    text-align: center;
    color: white;
    font-size: 26px;
}

#choose-avatar-container {
    padding: 20px 40px;
}

#kiosk-container {
    padding: 20px 40px;
}

#add-student-container {
    max-width: 450px;
    padding: 20px;
}

.add-student-form {
    max-width: 100%;
}

/* TODO: What's best way to ensure these avatars are centered for all screen sizes? */
.kiosk-avatar {
    background: #E8E8E8;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
}

.checked-out {
    opacity: .25;
}

.badge-small { 
    width: 85%;
    height: auto;
}
.badge-small-special {
    width: 42%;
    height: auto;
}

.panel-background {
    background:#e2e2e2;
    border-bottom:0px;
    border-top:0px;
    border-left:0px;
    border-right:0px
}
.badge-row-color{
    background: #e2e2e2;
}

.badge-panel-row-padding{
    padding-bottom: 25px;
}
.badge-panel-padding {
    padding-bottom:50px;
}
.badge-panel-padding-alt {
    padding-bottom: 64px
}
.badge-header-bold {
    font-weight: bold;
    font-size: 20px;
    color: white
}
.bold-caption {
    font-weight: bold;
}

.badge-locked {
    opacity: .4;
}

.red-x {
    color:red;
    text-align: center;

}
.orange-alert {
    color:orange;
    text-align: center;
}

.green-check {
    color:green;
    text-align:center;
}

/* Override bootstrap buttons */
.btn {
    text-align: center;
    background: #435AAF;
    color: white;
    border: none;
}

.btn-admin-wide-left {
    width: 60%;
    float: left;
}

.btn-admin-wide-right {
    width: 60%;
    float: right;
}

#admin-container {
    display: block;
    margin: auto;
    background: #4BA9EF;
    border-radius: 10px;
    padding: 5px 15px 10px 15px;
    margin-top: 60px;
}

#admin-table-container {
    display: block;
    margin: auto;
    background: #435AAF;
    margin: 10px;
}

.admin-font {
    color: white;
    /*font-family: 'Tw Cen MT'; Need to move to a better location */
}

.admin-font-center {
    color: white;
    text-align: center;
    /*font-family: 'Tw Cen MT'; Need to move to a better location */
}

.admin-font-left {
    color: white;
    text-align: left;
    /*font-family: 'Tw Cen MT'; Need to move to a better location */
}

.admin-glyphicon {
    color: white;
    display: block;
    text-align: center
}

.admin-font-h2 {
    color: white;
    padding-bottom: 15px;
    text-align: center;
}

.admin-font-h4 {
    color: white;
    padding-left: 15px;
}

.admin-student-link:hover {
    color: black;
    text-decoration: none;
}

.add-student-btn {
    padding: 0px;
}

.student-report-graph {
    width: 450px;
    height: 400px;
    border: 2px solid white;
    border-radius:3px;

}
.badge-panel-color {
    background: #435AAF;
}
.avatar-student-profile {
    width: 200px;
    height: auto;
}
.badge-medium {
    width: 85%;
    height: auto;
}
.progress-bar-default {
    width: 75%;
    text-align: right
}

#chartContainer1 {
    width: 100%;
}