body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.studentheader2 {
    text-align: center;
}

.studentheader3 {
    text-align: center;
}

.thumbnail {
    border: 0 none;
    box-shadow: none
}

.attendTable { 
    text-align: center;
}

.attendTableCell {
    text-align: center;
}
.nopadding {
    padding: 1px;
    padding-bottom: 5px
}
.attendTableHeader{
    background-color: #435AAF;
    color: white
}
.darkBlue {
    color: darkblue
}

.reportColMd2 {
    text-align: center
}

#lgn-form-container .col-md-12 .full-width {
    width: 50%;
    margin: auto;
    display: block;
}

#lgn-form-container input {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#lgn-form-container {
    width: 40%;
    display: block;
    margin: auto;
    background: #4BA9EF;
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 300px;
    margin-top: 40px;
}
#lgn-form-container #form-title {
    text-align: center;
    color: white;
    font-size: 26px;
}

#lgn-form-container #login-btn {
    text-align: center;
    background:#435AAF;
    color: white;
    border: none;
}

#login-page {
    background: #e2e2e2;
}