
@{
    ViewBag.Title = "Index";
}

<!-- TODO: Add real functionality to this page... -->
<br />
<p>
    @Html.ActionLink("Start Kiosk login", "startLogin", null, new { @class = "btn btn-success" })
</p>

<div class="container">
    <div class="row">
        <a href="~/Kiosk/checkIn">
            <div class="col-sm-2">
                <span>
                    Kevin Cushing
                </span>
                <br />
                <img src="~/Content/images/avatar4.png" width="75" height="75" />
            </div>
        </a>
        <a href="~/Kiosk/checkIn">
            <div class="col-sm-2">
                <span>
                    Maggie Dong
                </span>
                <br />
                <img src="~/Content/images/avatar5.png" width="75" height="75" />
            </div>
        </a>
        <a href="~/Kiosk/checkIn">
            <div class="col-sm-2">
                <span>
                    Andrew Croneberger
                </span>
                <br />
                <img src="~/Content/images/avatar3.png" width="75" height="75" />
            </div>
        </a>
        <a href="~/Kiosk/checkIn">
            <div class="col-sm-2">
                <span>
                    Scott Moser
                </span>
                <br />
                <img src="~/Content/images/avatar7.png" width="75" height="75" />
            </div>
        </a>
     </div>
    <br />
    <br />
    <div class="row">
        <a href="~/Kiosk/checkIn">
            <div class="col-sm-2">
                <span>
                    Andrew Wallace
                </span>
                <br />
                <img src="~/Content/images/avatar8.png" width="75" height="75" />
            </div>
        </a>
        <a href="~/Kiosk/checkIn">
            <div class="col-sm-2">
                <span>
                    Steve Chester
                </span>
                <br />
                <img src="~/Content/images/avatar9.png" width="75" height="75" />
            </div>
        </a>
    </div>
    <br />
</div>


