
@{
    ViewBag.Title = "Kiosk Check In / Out";
}

<!-- TODO: Add real functionality to this page... -->
<h1 class="text-center">Kiosk Check In / Out</h1>

<br />

<div class="container">
    <div class="row">
        <a href="#" data-toggle="modal" data-target="#myModal">
            <div class="col-sm-2">
                <span>
                    Kevin Cushing
                </span>
                <br />
                <img src="~/Content/images/person1.png" width="75" height="75" />
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#myModal">
            <div class="col-sm-2">
                <span>
                    Maggie Dong
                </span>
                <br />
                <img src="~/Content/images/person2.png" width="75" height="75" />
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#myModal">
            <div class="col-sm-2">
                <span>
                    Andrew Croneberger
                </span>
                <br />
                <img src="~/Content/images/person3.png" width="75" height="75" />
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#myModal">
            <div class="col-sm-2">
                <span>
                    Scott Moser
                </span>
                <br />
                <img src="~/Content/images/person4.png" width="75" height="75" />
            </div>
        </a>
     </div>
    <br />
    <br />
    <div class="row">
        <a href="#" data-toggle="modal" data-target="#myModal">
            <div class="col-sm-2">
                <span>
                    Andrew Wallace
                </span>
                <br />
                <img src="~/Content/images/person5.png" width="75" height="75" />
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#myModal">
            <div class="col-sm-2">
                <span>
                    Steve Chester
                </span>
                <br />
                <img src="~/Content/images/person6.png" width="75" height="75" />
            </div>
        </a>
    </div>
    <br />
</div>



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You have checked in!</h4>
            </div>
            <div class="modal-body">
                <p>You have earn 10 points from checking in!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


