@model _5051.Models.StudentCheckinViewModel

@{
    ViewBag.Title = "Kiosk Check In / Out";
}

<!-- TODO: Add real functionality to this page... -->
<h1 class="text-center">Kiosk Check In / Out</h1>

<br />

<div class="container">
    @foreach (var item in Model.CheckinList)
    {
        <a id="@item.Id" href="#">
            <div class="col-sm-2 icons">
                <span>
                    @item.Name
                </span>
                <br />
                <img src="~/Content/images/@item.Uri" width="75" height="75" />
            </div>
        </a>
     }
</div>

<script>
  window.onload = function(){
    var toggle = "checked-in";
    var icons = document.getElementsByClassName("icons");
    if(icons){
        for (var i = 0; i < icons.length; i++) {
            icons[i].onclick = function(){
                if(this.classList.contains(toggle)) {
                    this.classList.remove(toggle);
                } else {
                    this.classList.add(toggle);
                }
            }
        }
    }
  }
</script>