
@{
    ViewBag.Title = "ClassReportView";
}

<!-- TODO: Add real functionality to this page... -->

<!-- Probably a brute-force way of implementing this... -->
<div class="row">
    @Html.ActionLink("Back", "GoBack", null, new { @class = "btn btn-success" })
</div>

    <img src="~/Content/images/Class Report.png" width="960" height="540" />
