<!-- Probably a brute-force way of implementing this... -->

<div class="container-responsive" id="class-report-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-2" id="class-report-btn-back">
                @Html.ActionLink("Back", "GoBack", null, new { @class = "btn btn-primary btn-sm" })
            </div>
            <div class="col-sm-8">
                <h2 class="text-center admin-font-h2">Class Attendance Report</h2>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div id="classReportChart" class="class-report-graph"></div>
</div>

<script>
    window.onload = function () {
        var chart1 = new CanvasJS.Chart("classReportChart", {
            theme: "theme2",
            animationEnabled: true,

            axisX: {
                title: "Days",
                titleFontSize: 18,
                minimum: 0,
                maximum: 91,
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "Hours",
                titleFontSize: 18,
                minimum: 0,
                maximum: 300,
                stripLines: [
                    {
                        startValue: 200,
                        endValue: 300,
                        opacity: .25,
                        color: "#00e600",
                    },
                ],
            },
            legend: {
                horizontalAlign: "center", // "center" , "right", "left"
                verticalAlign: "bottom",  // "top" , "bottom", "center"
                fontSize: 15
            },
            data: [
                {
                    type: "line", //change type to bar, line, area, pie, etc
                    showInLegend: true,
                    lineDashType: "dash",
                    color: "#FF0000",
                    legendText: "Expected",
                    markerType: "none",
                    toolTipContent: "{legendText} <br/> Days: {x} <br/>  Hours: {y}",
                    dataPoints: [
                        { x: 0, y: 0 },
                        { x: 10, y: 33.333 },
                        { x: 20, y: 66.666 },
                        { x: 30, y: 100 },
                        { x: 40, y: 133.333 },
                        { x: 50, y: 166.666 },
                        { x: 60, y: 200 },
                        { x: 70, y: 233.333 },
                        { x: 80, y: 266.6666 },
                        { x: 90, y: 300 }
                    ]
                },
                {
                    type: "line", //change type to bar, line, area, pie, etc
                    showInLegend: true,
                    legendText: "Scott",
                    toolTipContent: "{legendText} <br/> Days: {x} <br/>  Hours: {y}",
                    dataPoints: [
                        { x: 0, y: 0 },
                        { x: 10, y: 25 },
                        { x: 20, y: 40 },
                        { x: 30, y: 80 },
                        { x: 40, y: 100 },
                        { x: 50, y: 130 },
                        { x: 60, y: 160 },
                        { x: 70, y: 200 },
                        { x: 80, y: 225 },
                        { x: 90, y: 250 }
                    ]
                },
                {
                    type: "line", //change type to bar, line, area, pie, etc
                    showInLegend: true,
                    legendText: "Maggie",
                    toolTipContent: "{legendText} <br/> Days: {x} <br/>  Hours: {y}",
                    dataPoints: [
                        { x: 0, y: 0 },
                        { x: 10, y: 20 },
                        { x: 20, y: 40 },
                        { x: 30, y: 70 },
                        { x: 40, y: 100 },
                        { x: 50, y: 150 },
                        { x: 60, y: 150 },
                        { x: 70, y: 180 },
                        { x: 80, y: 200 },
                        { x: 90, y: 230 }
                    ]
                },
                {
                    type: "line", //change type to bar, line, area, pie, etc
                    showInLegend: true,
                    legendText: "Kevin",
                    toolTipContent: "{legendText} <br/> Days: {x} <br/>  Hours: {y}",
                    dataPoints: [
                        { x: 0, y: 0 },
                        { x: 10, y: 15 },
                        { x: 20, y: 30 },
                        { x: 30, y: 45 },
                        { x: 40, y: 50 },
                        { x: 50, y: 70 },
                        { x: 60, y: 75 },
                        { x: 70, y: 95 },
                        { x: 80, y: 100 },
                        { x: 90, y: 133 }
                    ]
                },
                {
                    type: "line", //change type to bar, line, area, pie, etc
                    showInLegend: true,
                    legendText: "Andrew W",
                    toolTipContent: "{legendText} <br/> Days: {x} <br/>  Hours: {y}",
                    dataPoints: [
                        { x: 0, y: 0 },
                        { x: 10, y: 10 },
                        { x: 20, y: 40 },
                        { x: 30, y: 72 },
                        { x: 40, y: 83 },
                        { x: 50, y: 99 },
                        { x: 60, y: 132 },
                        { x: 70, y: 152 },
                        { x: 80, y: 179 },
                        { x: 90, y: 220 }
                    ]
                },
                {
                    type: "line", //change type to bar, line, area, pie, etc
                    showInLegend: true,
                    legendText: "Andrew C",
                    toolTipContent: "{legendText} <br/> Days: {x} <br/>  Hours: {y}",
                    dataPoints: [
                        { x: 0, y: 0 },
                        { x: 10, y: 30 },
                        { x: 20, y: 30 },
                        { x: 30, y: 55 },
                        { x: 40, y: 75 },
                        { x: 50, y: 99 },
                        { x: 60, y: 114 },
                        { x: 70, y: 135 },
                        { x: 80, y: 167 },
                        { x: 90, y: 205 }
                    ]
                },
                {
                    type: "line", //change type to bar, line, area, pie, etc
                    showInLegend: true,
                    legendText: "Mike",
                    toolTipContent: "{legendText} <br/> Days: {x} <br/>  Hours: {y}",
                    dataPoints: [
                        { x: 0, y: 0 },
                        { x: 10, y: 30 },
                        { x: 20, y: 55 },
                        { x: 30, y: 80 },
                        { x: 40, y: 120 },
                        { x: 50, y: 140 },
                        { x: 60, y: 170 },
                        { x: 70, y: 200 },
                        { x: 80, y: 220 },
                        { x: 90, y: 240 }
                    ]
                }
            ]
        });
        chart1.render();
    };
</script>
