
<div class="class-report-button">
    <br />
    <br />
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
</div>

<div id="goals-container">
    <h2 class="admin-font-h2">Class Goals</h2>
    <p>Page under construction!</p>
</div>
